---
layout: default
---

<!-- Main -->




<div id="main">
    <section>
    <h1>About</h1>
    Digital Product Manager - with +10 years experience in managing agile product development teams (developers, designers, ux, 3rd party, Near-shore) in startups, +1000-employees companies - wants not only to talk about and manage digital products but build them since building stuff is way cooler and satisfying than talking about building stuff. 

    That’s why I’m looking for a career change and a position as a Junior Developer in a company that is eager to build digital products people like to use.
    </section>

    <section>
    <h1>Work</h1>


<!--     <section>
        {% for post in site.posts limit:1 %}
            <header class="major">
                <h2>{{ post.title }}</h2>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

            <section>
                {{ post.content }}
            </section>
        {% endfor %}
    </section> -->

    <section>
        <div class="row">
            {% for post in site.posts offset:1 %}

                <article class="{% cycle '6u', '6u$' %} 12u(small)">
                    <header>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    </header>
                    <section>
                        {{ post.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ post.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>

            {% endfor %}
        </div>
    </section>
</section>

</div>
